.project_item {
  padding-bottom: 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transition: var(--transition);
  position: relative;
  width: 100%;
  gap: 5rem;
}

.project_container {
  text-align: center;
}

.project_item-image {
  border-radius: 1rem;
  width: 25rem;
  height: 25rem;
  overflow: hidden;
}

.project_item-image:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: var(--transition);
}

.project_item:hover {
  border-color: var(--color-primary-variant);
  /* transform: scale(1.28); */
  border-color: var(--color-white);
  background-color: transparent;
  z-index: 1;
  transition: var(--transition-hover);
}

.project_item h3 {
  font-size: 1.65rem;
}

.project_item p {
  font-size: 1.05rem;
  margin-top: 1.5rem;
  width: 45vw;
  text-align: justify;
  line-height: 1.75rem;
}

.project_btn {
  font-size: rem;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.categories {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

/* For making category layout (i.e., how many columns */
.categories ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; /* Sets equal gap between grid items */
  list-style: none; /* Removes list bullets */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

.categories li {
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.categories .btn.category_btn {
  border: none;
  padding: 0.8rem 1.25rem; /* Adds padding inside the button */
  border-radius: 1.5rem; /* Rounds the button corners */
  color: var(--color-white);
  /* background: var(--color-bg-variant); */
  background: var(--color-bg-nav);
  width: 100%; /* Makes the button expand to fill the grid cell */
  font-size: 1.15rem;
  /* letter-spacing: 0.6px; */
  text-align: center; /* Centers text in the button */
}

.categories .btn.category_btn:hover {
  color: var(--color-primary-variant);
  background: #cbf6ff;
  transition: var(--transition-hover);
  /* font-size: 1.1rem; */
}

.categories .category_btn.active {
  color: var(--color-primary-variant);
  background: var(--color-white);
  transition: var(--transition-hover);
  /* font-size: 1.1rem; */
}

@media screen and (max-width: 1440px) {
  .project_container {
    grid-template-columns: 1fr 1fr;
  }
  .project_item p {
    width: 35rem;
    margin-right: 2rem;
  }
  .categories ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1280px) {
  .project_container {
    grid-template-columns: 1fr 1fr;
  }

  .project_item {
    gap: 3rem;
  }

  .project_item p {
    width: 30rem;
    margin-right: 2rem;
  }
  .categories ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .project_container {
    grid-template-columns: 1fr 1fr;
  }

  .project_item {
    gap: 2rem;
  }

  .project_item p {
    width: 25rem;
    margin-left: 1rem;
  }
  .btn {
    margin-left: 1rem;
  }
  .categories ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .project_item {
    grid-template-columns: repeat(2, 1fr);
  }

  .project_item {
    gap: 1rem;
  }

  .project_item P {
    width: 20rem;
    margin-left: 2rem;
    font-size: 0.9rem;
  }
  .project_item-image {
    width: 15rem;
    height: 15rem;
  }

  .categories ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .project_item {
    grid-template-columns: repeat(1, 1fr);
  }

  .project_item h3 {
    font-size: 1.25rem;
    margin-left: 2rem;
  }
  .project_item P {
    width: 25rem;
  }
  .project_item-image {
    width: 25rem;
    height: 25rem;
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .btn {
    margin-left: 2rem;
  }

  .categories ul {
    grid-template-columns: 1fr;
  }
}
