header {
  height: 100vh;
  padding-top: 9rem;
  overflow: hidden;
}

@keyframes typing {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.typing-effect {
  display: inline-block;
  animation: typing 10s linear infinite;
}

.header_container h1 {
  margin-bottom: 2rem;
  width: 100%;
}

.header_container h3 {
  line-height: 2.6rem;
  font-weight: 200;
  padding-left: 3rem;
  padding-right: 3rem;

  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.header_container .header_items {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.header_container .header_items .Headersocialnetwork_icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  left: 2.8rem;
  bottom: 8rem;
  top: 35rem;
  position: fixed;
  transform: scale(1.6);
  transition: transform 0.3s ease;
}

.header_container .header_items .Headersocialnetwork_icons .icon_items:hover {
  transform: scale(1.8);
}

.header_container .header_items .Headersocialnetwork_icons:after {
  content: '';
  width: 1px;
  height: 4rem;
  background: var(--color-primary);
}

.resume_item {
  transform: rotate(270deg);
  font-size: 0.8rem;
}

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
  .icon_items {
    top: 40rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .icon_items {
    top: 10rem;
  }
}
