header {
  height: 100vh;
  width: 100vw;
  padding-top: 12rem;
  overflow: hidden;
}

@keyframes typing {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.typing-effect {
  display: inline-block;
  animation: typing 10s linear infinite;
}

.header_container h1 {
  font-family: 'Times New Roman', san-serif;
  font-size: 4.6rem;
  letter-spacing: 0.2rem;
}

.header_container h3 {
  font-size: 1.46rem;
  line-height: 2.6rem;
  font-weight: 200;
  /* margin-top: 1.25rem; */
  margin-top: 1rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;

  display: flex;
  justify-content: center;
  gap: 0.5rem;
  /* margin-bottom: 1rem; */
  word-break: break-word;
  letter-spacing: 0.1rem;
}

.header_container .header_items {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.header_container .header_items .Headersocialnetwork_icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  left: 2.5rem;
  bottom: 8rem;
  top: 25rem;
  position: fixed;
  transform: scale(1.6);
  transition: transform 0.3s ease;
}

.header_container .header_items .Headersocialnetwork_icons .icon_items:hover {
  transform: scale(1.8);
}

.header_container .header_items .Headersocialnetwork_icons:after {
  content: '';
  width: 1px;
  height: 8rem;
  background: var(--color-primary);
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
  .icon_items {
    top: 40rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .icon_items {
    top: 10rem;
  }
  .Headersocialnetwork_icons {
    visibility: hidden;
  }
}
